body{
  background: linear-gradient(45deg, #71b7e6, #15004e);
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Open sans', sans-serif;
}
.home-conteudo{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu{
  z-index: 99;
}
.menu .principal{
    width: calc(100vh-78px);  
}
.menu.active .principal{
    width: calc(100vh-240px);
    
}

.home-conteudo__itens{
  display: flex;
    flex-direction: column;
    position: absolute;
    width: 180px;
    z-index: 1;
    left: 0;
}

.dropbtn{
  display: block;
  align-self: flex-end;
}
.dropbtn {
    background-color: #b1b1b1;
    width: 100%;
    color: black;
    padding: 16px;
    font-size: 16px;
    border-radius: 0 ;
    transition: 600ms;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    transition: 600ms;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left:179px;
    top: 0;
    background-color: #b1b1b1;
    min-width: 160px;
    width: 250px;
    box-shadow:none;
    z-index: 1;
    transition: 600ms;
    border-left: 6px solid #005282;
    text-transform: uppercase;
  }
  
  .dropdown-content p {
    background-color: #f4f4f4;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    transition: 600ms;
  }
  .dropdown-content .menu-itens:hover {background-color: #646464;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown:hover .dropbtn {background-color: #646464;}
  
  .menu-itens input{
    display: flex;
    height: 25px;
    width: 25px;
    margin: 0 0 0 5px;
  }
  .menu-itens label{
    display: block;
    width: 100%;
    padding: 10px;
    
  }

  .dropdown .dropdown-content .menu-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .busca-itens{
    display: flex;
    
  }
  
  .conteudo-tabela{
    display: inline;
    position: relative;
    left: 0;
    
  }

  .conteudo .busca-itens > input{
    display: flex;
    height: 30px;
    align-self: center;
    width: 300px;
    margin-right: 10px;
   
  }

  .botao{
    display: inline;
    text-align: right;
    display: flex;
  }

  .busca-itens button{
    background-color: blue;
    border-radius: 5px;
    color: #f0f0f0;
    font-weight: 600;
    transition: 600ms;
    height: 30px;
    margin: 1rem 0;
  }

  button{
    text-transform: uppercase;
  }

  .botao button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 600ms;
  }


  .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conteudo__tabela .conteudo__produtos{
  
      box-shadow: 5px 5px 15px 1px black;
      margin-bottom: 50px;
      border-radius: 0 15px 15px 0;
      border-left: 6px solid blue;
      background-color: white;
      color: black;
    
  }

  .conteudo__produtos .conteudo__produtos__tabela{
    width: 100vw;
    display: block;
  }

  th, td{
    
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }

  tr:hover{
    background: linear-gradient(45deg, #71b7e6, #15004e);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  th{
    min-width: 50px;
    min-height: 20px;
    border-bottom: 2px solid;
    border-color: linear-gradient(45deg, #71b7e6, #15004e);
  }

  td, th{
    padding: 2px;
    align-items: center;
    
  }

  .texto{
    text-align: left;
    padding: 0 6px;
  }

  input .checkbox{
    width: 10px;

  }

  th input,td input{
    padding: 2px;
    width: 20px;
    height: 20px;
    
  }
  thead tr:hover{
    cursor: pointer;
  }
  th input:hover, td input:hover{
    cursor: pointer;
  }
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.conteudo__tabela{
  display: block;
  justify-content: center;
}
@media only screen and (max-width: 450px) {
  .conteudo{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100vw;
  }
  
  td, th{
    font-size: 15px;
  }
  .itens{
    display: none;
  }
  .conteudo-tabela{
    width: 100vw;
  }
  .busca-itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 0;
    width: 75vw;
  }
 
 .dropdown{
   display: none;
 }
  #tabelas-busca{
    margin: 0;
    padding: 0;
    width: 80%;
    color: black;
    font-size: 15px;
  }
  .texto{
    width: 80px;
    font-size: 1rem;
  }
  th input,td input{
    width: 20px;
    height: 20px;
  }

}

.botao{
  display: flex;
  justify-content: center;
  width:35px;
  height:25px;
  font-size: 18px;
  color:white;
  background-color:#71b7e6;
  border: 1px solid #71b7e6;
  border-radius: 3px;
}
.botao:hover{
  cursor: pointer;
}
.modal-content{
  width: 60vw
}
.modal-body{
  display: flex;
  justify-content: center;
}
.modal{
  position: absolute;
  left: -200px;
}

#tabela__formulas{
  width: 100%;
}

.tabela__formulas__dados-descricao{
 text-align: left;
 padding-left: 5px;
}

.tabela__formulas__dados-perc{
  text-align: right;
  padding-right: 35px;
 }

@media only screen and (max-width: 1080px) {
  .dropdown{
    display: none;
  }
  .modal-content{
    width: 60vw;
  }
  .tabela__formulas__dados-perc{
    text-align: right;
    padding-right: 15px;
   }
}