body{
    background-color: #f0f0f0;
    color: black;
    text-transform: uppercase;
}

.logo{
    display: inline; 
}

.usuario{
    display: inline;
}

.usuario ul{
    display: inline;
    vertical-align: bottom;
    text-align: left;
    position: absolute;
    top: 25px; left: 55%;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    line-height: 1.2em;
    
}

.principal{
    width: auto;
    padding: 0;
    border-radius: 5px;
    margin: 3% 2% 0 2%;
    
}

.itens{
  width: 180px;
  
  position: absolute;
}
.dropbtn{
  display: block;
}

.dropbtn {
    background-color: #b1b1b1;
    width: 100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 600ms;
  }
  
  .dropdown label{
    width: 70%;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #000000aa;
    transition: 600ms;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left:179px;
    top: 0;
    background-color: #b1b1b1;
    min-width: 160px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 600ms;
  }
  
  .dropdown-content p {
    background-color: #f4f4f4;
    border-left: 6px solid #005282;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    transition: 600ms;
  }
  .busca-itens{
    display: block;
    position: relative;
    left: 198px;
    margin: 2rem 0;
    
  }

  .busca-itens label, input{
    display: inline;
   
  }
  .busca-itens input{
    min-width: 300px;
    width: 500px;
  }
  .busca-itens label{
    display: block;
    text-align: center;
    width: 500px;
    font-size: 1.5rem;
  }

  .menu-itens input{
    margin: 0.8rem 1rem 0.8rem 1rem;
  }
  .botao{
    text-align: right;
    margin: 0 5% 0 0;
    display: inline-block;
    width: 200px;

  }
  .botao button{
    background-color: yellow;
    padding: 15px 20px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    transition: 600ms;
  }

  button{
    text-transform: uppercase;
  }

  .botao button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 600ms;
  }

  label{
      width: auto;
  }
  .dropdown-content .menu-itens:hover {background-color: #646464;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #646464;}

  .conteudo{
    min-width: 750px;
    border: 1px solid black;
  }
  .conteudo__produtos{
    position:relative;
    left: 180px;
    max-width: 77%;
    min-width: 70%;
    margin: 2%;
    border-radius: 5px;
  }
  th, td{
    border: 1px solid black;
    text-align: center;
  }
  .texto{
    text-align: left;
    padding: 0 0 0 5px;
  }
  input .checkbox{
    width: 10px;
  }
 
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}