body{
    background-color: #f0f0f0;
    color: black;
}

.logo{
    display: inline; 
}

.usuario{
    display: inline;
}

.usuario ul{
    display: inline;
    vertical-align: bottom;
    text-align: left;
    position: absolute;
    top: 25px; left: 55%;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    line-height: 1.2em;
    
}

.principal{
    width: auto;
    padding: 0;
    border-radius: 5px;
    margin: 3% 2% 0 2%;
}

.itens{
  width: 150px;
  border: 1px black solid;
  display: flexbox;
}
.dropbtn{
  display: block;
}

.dropbtn {
    background-color: #04AA6D;
    width: 100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left:149px;
    top: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content p {
    background-color: #f4f4f4;
    border-left: 6px solid #005282;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
  }
  
  .menu-itens input{
    margin: 0.8rem 1rem 0.8rem 1rem;
  }

  label{
      width: auto;
  }
  .dropdown-content .menu-itens:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .conteudo{
    display: flexbox;
  }