header{
   background-color: #002695;
}
.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
img{
    display: inline;
    height: 110px;
    width: auto;
}
table {
    background:#ffffff ;
    margin: 0 auto;
    border: solid 1px black;
   
  }
  .numeros {
    text-align: right;
  }
  
  .produto {
    text-align: left;
  }
  tfoot tr td{
    background:rgb(78, 78, 78);
    color:white;
  }
  
  tr:nth-child(even) {
    background:rgb(170, 170, 170);
  }
  td{
    width: auto;
    text-align: center;
  }
  
  thead tr th {
    background:rgb(78, 78, 78);
    color:white;
    text-align: left;
  }
  #coluna div{
    background-color: gray;
  }